doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="build.css")
		script(type="text/javascript" src="build.js")
		title Test-Loftschool
		
	body
		header
		main.content
			.container
				.logo
					img(src="img/logo.png")
			
				ul.acardeon
					li
						a.trigger(href="#trigger") Основы языка и как на нём говорить правильно
							span
						.text
							ul
								li Лексическая структура
								li Типы данных, значения и переменные
								li Выражения и операторы инструкции
					li
						a.trigger(href="#trigger") Функции
							span
						.text
							ul
								li Лексическая структура
								li Типы данных, значения и переменные
								li Выражения и операторы инструкции
					li
						a.trigger(href="#trigger") Обработка ошибок и отладка
							span
						.text
							ul
								li Лексическая структура
								li Типы данных, значения и переменные
								li Выражения и операторы инструкции
					li
						a.trigger(href="#trigger") Объекты и массивы
							span
						.text
							ul
								li Лексическая структура
								li Типы данных, значения и переменные
								li Выражения и операторы инструкции
					li
						a.trigger(href="#trigger") События
							span
						.text
							ul
								li Лексическая структура
								li Типы данных, значения и переменные
								li Выражения и операторы инструкции
		footer
			strong Created Andrey Chechkin
